.header-wrapper {
  background-color: var(--dark-blue-1);
}

.header {
  text-align: center;
  width: 85%;
  margin-inline: auto;

  &__nav {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-container {
    width: 10rem;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    list-style: none;
    padding: 0.5rem 0.8rem;
    &:last-child {
      padding: 0.5rem 0 0.5rem 0.8rem;
    }
  }

  &__nav-link {
    color: var(--white);
    font-family: var(--ff-highlight);
    text-decoration: none;
  }

  &__intro-img {
    position: relative;
    z-index: 1;
  }

  &__text {
    margin-bottom: 3rem;
    position: relative;
  }
}
