.productivity {
  text-align: left;
  padding: 8rem 0;

  &__img-container {
    max-width: 40rem;
  }

  &__text {
    margin-bottom: 2rem;
  }

  &__link-container {
    display: flex;
    border-bottom: 1px solid var(--cyan);
    padding-bottom: 0.5rem;
    width: fit-content;
    align-items: center;
    transition: all 0.2s;

    &:hover {
      border-bottom: 1px solid var(--white);
    }
  }

  &__link {
    font-size: var(--fs-small);
    text-decoration: none;
    color: var(--cyan);
    transition: all 0.2s;

    // &:hover {
    //   color: var(--white);
    // }
  }

  &__arrow-img {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background-size: cover;
    background-image: url(/images/icon-arrow.svg);
    transition: all 0.2s;

    // &:hover {
    //   background-image: url(/images/icon-arrow-white.svg);
    // }
  }
}

.productivity__link-container:hover .productivity__arrow-img {
  background-image: url(/images/icon-arrow-white.svg);
}

.productivity__link-container:hover .productivity__link {
  color: var(--white);
}
