.btn {
  position: relative;

  &-primary {
    font-size: var(--fs-small);
    background-image: linear-gradient(to right, var(--cyan), var(--blue));
    color: var(--white);
    border: none;
    border-radius: 30rem;
    padding: 1em 6em;
    font-weight: var(--fw-700);
  }
}
