.btn {
  position: relative;
  cursor: pointer;

  &-primary {
    font-size: var(--fs-small);
    background-image: linear-gradient(to right, var(--cyan), var(--blue));
    color: var(--white);
    border: none;
    border-radius: 30rem;
    padding: 1em 6em;
    font-weight: var(--fw-700);
    transition: all .2s;

    &:hover {
    background-image: linear-gradient(to right, var(--cyan), var(--cyan));

    }
  }
}
