.testimonial {
  background-color: var(--dark-blue-4);
  padding: 2.5rem 2rem;
  margin: 2.5rem 0;
  border-radius: 0.5rem;

  &__text {
    font-size: var(--fs-small);
  }

  &__author-container {
    display: flex;
    margin-top: 2.5rem;
  }

  &__author-img-container {
    width: 4rem;
    margin-right: 1rem;
  }

  &__author-img {
    border-radius: 50%;
  }

  &__author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__author-name {
    font-weight: var(--fw-700);
    font-size: var(--fs-small);
  }

  &__author-job-title {
    font-size: var(--fs-extra-small);
  }
}
