:root {
  --white: hsl(0, 0%, 100%);
  --dark-blue-1: hsl(217, 28%, 15%);
  --dark-blue-2: hsl(218, 28%, 13%);
  --dark-blue-3: hsl(216, 53%, 9%);
  --dark-blue-4: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --fs-default: 1.4rem;
  --fs-extra-small: .9rem;
  --fs-small: 1.2rem;
  --fs-medium: 1.9rem;
  --fs-big: 2.5rem;
  --ff-highlight: "Raleway", sans-serif;
  --ff-body: "Open Sans", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-default);
  font-weight: var(--fw-400);
  color: var(--white);
  background-color: var(--dark-blue-2);
  line-height: 1.6;
}

img {
  width: 100%;
}

.heading-primary,
.heading-secondary {
  font-family: var(--ff-highlight);
  font-weight: var(--fw-700);
}

.heading-primary {
  font-size: var(--fs-big);
  position: relative;
  margin: 2.5rem 0;
}

.heading-secondary {
  font-size: var(--fs-medium);
  margin: 1.5rem 0;
}

.container {
  width: 85%;
  margin-inline: auto;
}

.btn {
  position: relative;
}
.btn-primary {
  font-size: var(--fs-small);
  background-image: linear-gradient(to right, var(--cyan), var(--blue));
  color: var(--white);
  border: none;
  border-radius: 30rem;
  padding: 1em 6em;
  font-weight: var(--fw-700);
}

.feature {
  padding: 4rem 0;
}
.feature__img-container {
  width: 6.5rem;
  margin-inline: auto;
}

.testimonial {
  background-color: var(--dark-blue-4);
  padding: 2.5rem 2rem;
  margin: 2.5rem 0;
  border-radius: 0.5rem;
}
.testimonial__text {
  font-size: var(--fs-small);
}
.testimonial__author-container {
  display: flex;
  margin-top: 2.5rem;
}
.testimonial__author-img-container {
  width: 4rem;
  margin-right: 1rem;
}
.testimonial__author-img {
  border-radius: 50%;
}
.testimonial__author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.testimonial__author-name {
  font-weight: var(--fw-700);
  font-size: var(--fs-small);
}
.testimonial__author-job-title {
  font-size: var(--fs-extra-small);
}

.footer {
  background-color: var(--dark-blue-3);
  padding: 21rem 0 3rem 0;
}
.footer__logo-container {
  width: 17rem;
  margin-left: 1.5rem;
  margin-bottom: 3rem;
}
.footer__info {
  display: flex;
  align-items: flex-start;
  margin: 2rem 0;
}
.footer__icon {
  height: 1.4rem;
  width: 1.4rem;
  position: relative;
  top: 0.6rem;
  margin-right: 2rem;
}
.footer__nav {
  padding: 3rem 0;
}
.footer__nav-list {
  padding: 2rem 0;
}
.footer__social-list {
  display: flex;
  justify-content: center;
}
.footer__nav-item, .footer__social-item {
  list-style: none;
  padding: 0.4rem 0;
}
.footer__social-item {
  margin: 0.5rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  padding: 0.2rem 0.6rem;
}
.footer__social-item:first-child {
  padding: 0.2rem 0.9rem;
}
.footer__nav-link, .footer__social-icon {
  color: var(--white);
  text-decoration: none;
}
.footer__social-icon {
  font-size: var(--fs-small);
}

.header-wrapper {
  background-color: var(--dark-blue-1);
}

.header {
  text-align: center;
}
.header__nav {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-container {
  width: 10rem;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  list-style: none;
  padding: 0.5rem 0.8rem;
}
.header__nav-item:last-child {
  padding: 0.5rem 0 0.5rem 0.8rem;
}
.header__nav-link {
  color: var(--white);
  font-family: var(--ff-highlight);
  text-decoration: none;
}
.header__intro-img {
  position: relative;
  z-index: 1;
}
.header__text {
  margin-bottom: 3rem;
  position: relative;
}

.background-fill::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 14rem;
  top: 65vh;
  background-image: url(/images/bg-curvy-mobile.svg);
}
.background-fill::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 55rem;
  top: 95vh;
  background-color: var(--dark-blue-2);
}

.productivity {
  text-align: left;
  padding: 8rem 0;
}
.productivity__img-container {
  max-width: 40rem;
}
.productivity__text {
  margin-bottom: 2rem;
}
.productivity__link-container {
  display: flex;
  border-bottom: 1px solid var(--cyan);
  padding-bottom: 0.5rem;
  width: fit-content;
  align-items: center;
}
.productivity__link {
  font-size: var(--fs-small);
  text-decoration: none;
  color: var(--cyan);
}
.productivity__arrow-img {
  width: 1.3rem;
  margin-left: 0.8rem;
}

.sign-up {
  background-color: var(--dark-blue-1);
  border-radius: 0.8rem;
  box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.2);
  max-width: 40rem;
  margin: auto;
  padding: 2.5rem 2rem;
  position: absolute;
  bottom: -135px;
}
.sign-up__form {
  display: flex;
  flex-direction: column;
}
.sign-up__input {
  padding: 1em 2em;
  border-radius: 30rem;
  font-size: var(--fs-small);
  border: none;
  margin: 2.5rem 0 2rem 0;
}

.testimonials {
  text-align: left;
  position: relative;
  margin: 6rem 0 25rem 0;
}
.testimonials::before {
  content: "";
  background-image: url(/images/bg-quotes.png);
  position: absolute;
  background-size: 2rem;
  height: 1.6rem;
  width: 2rem;
  top: -1.7rem;
  left: 0.5rem;
}

.site-wrapper {
  min-height: 100vh;
  background-color: var(--dark-blue-2);
}

.main {
  position: relative;
  padding: 6rem 0;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
